:root {
  --gray: #c9caca;
  --secondary-color: #011b22;
  --accent-color: #00b0dc;
  --primary-color: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
}

p {
  line-height: 2;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1;
  color: var(--secondary-color);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  background-color: var(--secondary-color);
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 75px;
}

.logo-title {
  color: var(--accent-color);
  font-family: "Dancing Script", cursive;
  font-size: 1.25em;
}

.nav-items {
  display: flex;
  gap: 20px;
  color: var(--gray);
}

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}
a:hover {
  color: var(--accent-color);
}

a:active {
  color: var(--accent-color);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background-image: url(../images/ui-element-173.png);
  font-family: "Dancing Script", cursive;
  color: var(--accent-color);
}

.main-title {
  font-size: 3em;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/ui-element-006x3.png) no-repeat top center;
  background-size: cover;
  padding: 6em 8em;
  max-height: 100%;
  max-width: 100%;
  color: var(--primary-color);
}

.form-img {
  width: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  align-self: center;
  position: absolute;
  top: 15px;
}

input,
select,
textarea,
button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin: 0 0 10px 20px;
  width: 80%;
}

label {
  color: var(--primary-color);
  padding-bottom: 10px;
  margin-left: 4em;
  align-self: flex-start;
}

button {
  margin-top: 30px;
  padding: 15px 20px;
  color: var(--accent-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--secondary-color);
  color: var(--gray);
}
